.Forecast{
    text-align: center;
}
.Forecast .Forecast-day{
    color: rgba(39,33,66,.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Forecast .Forecast-temps {
    color: #f65282;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 10px;
}
.Forecast .Forecast-min{
    margin-left: 10px;
    opacity: .6;
}